<nav class="navbar">
    <a class="navbar-brand" href="/">SocialNetwork</a>
    <a class="nav-link" href="/Home/Index"><i class="fa fa-home"></i> Home</a>
    <a class="nav-link" href="/Profile/Index"><i class="fa fa-user"></i> Profile</a>
    <a class="nav-link" href="/Friends/Index"><i class="fa fa-users"></i> Friends</a>
    <a class="nav-link" href="/Chat/Index"><i class="fa fa-comments"></i> Chat</a>
    <a class="nav-link" href="/Admin/Index" class="admin"><i class="fa fa-cog"></i> Admin</a>
    <a class="nav-link logout" href="/Account/Logout"><i class="fa fa-sign-out"></i> Logout</a>
</nav>
