@model SocialNetwork.Models.ViewModels.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}
@Html.Partial("_Header")
<div class="main-content">
    <h2 class="text-danger">Error.</h2>
    <h3 class="text-danger">An error occurred while processing your request.</h3>
    <div>
        <p>Request ID: <code>@Model.RequestId</code></p>
    </div>
</div>
@Html.Partial("_Footer")
