/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    background-color: #343a40;
    color: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}

.navbar-logo {
    width: 150px;
    margin: 0 auto 20px;
}

.navbar .nav-link {
    color: #ffffff;
    margin: 10px 20px;
    text-align: left;
    width: 100%;
}

    .navbar .nav-link:hover {
        background-color: #495057;
        border-radius: 5px;
    }

    .navbar .nav-link .fa {
        font-size: 24px;
        margin-right: 10px;
    }

.navbar .auth-buttons {
    margin-top: auto;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

    .navbar .auth-buttons .nav-link {
        margin: 5px 0;
    }

.main-content {
    margin-left: 220px;
    padding: 20px;
    background-color: #ffffff;
    overflow-x: hidden;
}

/* Стили для формы регистрации и авторизации */
.registration-container,
.login-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .registration-container h2,
    .login-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .registration-container .form-group,
    .login-container .form-group {
        margin-bottom: 15px;
    }

    .registration-container .btn,
    .login-container .btn {
        width: 100%;
    }

/* Стили для профиля */
.profile-container {
    display: flex;
    padding: 20px;
}

.profile-avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.profile-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .profile-details h1 {
        margin: 0;
        font-size: 2rem;
    }

    .profile-details p {
        margin: 0;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }

/* Стили для списка друзей и пользователей */
.friends-list,
.all-users-list,
.incoming-requests-list {
    list-style-type: none;
    padding: 0;
}

    .friends-list .list-group-item,
    .all-users-list .list-group-item,
    .incoming-requests-list .list-group-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .friends-list img,
    .all-users-list img,
    .incoming-requests-list img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .friends-list button,
    .all-users-list button,
    .incoming-requests-list button {
        margin-left: 10px;
    }

.modal .modal-content {
    padding: 20px;
}

.modal .user-details img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.modal .user-details h2 {
    margin-bottom: 10px;
}

#searchFriends,
#searchAllUsers {
    margin-bottom: 20px;
}

/* Стили для постов */
.post {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.post-content img {
    width: 100%;
    max-width: 600px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.post .post-buttons {
    display: flex;
    justify-content: space-between;
}

    .post .post-buttons button {
        margin: 0 5px;
    }

.post-header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-avatar-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-content {
    margin-top: 10px;
}

.post-footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

    .post-footer .btn-link {
        padding: 0;
        margin-right: 10px;
    }

.posts-container {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    background-color: #ffffff;
    height: 55vh;
    margin: 0 auto;
    overflow-y: scroll;
    margin-right: 10%;
}

.avatar-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.avatar-large {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.friends-container {
    margin-top: 20px;
}

.friend-item,
.user-item,
.request-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 10px;
}

    .friend-item img,
    .user-item img,
    .request-item img {
        margin-right: 10px;
    }

    .friend-item p,
    .user-item p,
    .request-item p {
        flex-grow: 1;
        margin: 0;
    }

    .friend-item form,
    .user-item form,
    .request-item form,
    .friend-item a,
    .user-item a,
    request-item a {
        margin-left: 10px;
    }

.d-none {
    display: none !important;
}

.tabs {
    margin-bottom: 20px;
}

.comments {
    margin-top: 20px;
}

.comment {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 10px;
}

    .comment strong {
        color: #333;
    }

    .comment small {
        display: block;
        margin-top: 5px;
        color: #777;
    }

.comment-form .form-control {
    resize: none;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 75vh;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
}


.chat-participants {
    display: flex;
    flex-wrap: wrap;
}

.chat-participant {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

    .chat-participant img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 5px;
    }

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    height: 70vh; 
}

.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.send-message-form {
    margin-top: 20px;
}

.chat-message strong {
    color: #333;
}

.chat-message small {
    display: block;
    margin-top: 5px;
    color: #777;
}

.send-message-form {
    margin-top: 20px;
}

    .send-message-form .form-group {
        display: flex;
        margin-bottom: 10px;
    }

    .send-message-form textarea {
        flex-grow: 1;
        margin-right: 10px;
    }

    .send-message-form button {
        flex-shrink: 0;
    }

.navbar .nav-link.active {
    font-weight: bold;
    color: #007bff;
}
