@model IEnumerable<SocialNetwork.Models.DTO.UserDTO>

<div class="list-group">
    @foreach (var user in Model)
    {
        <a href="#" class="list-group-item list-group-item-action user-link" data-id="@user.UserId">
            <img src="@user.ProfilePictureUrl" alt="Profile Picture" class="img-thumbnail rounded-circle" width="30" height="30">
            @user.FullName
        </a>
    }
</div>
