@model IEnumerable<SocialNetwork.Models.DTO.UserDTO>

@foreach (var friend in Model)
{
    <li class="list-group-item">
        <img src="@friend.ProfilePictureUrl" alt="Profile Picture" class="avatar-small" />
        <a href="/Profile/Index/@friend.Id">@friend.FullName</a> (@friend.Username)
        <button class="btn btn-danger" onclick="removeFriend(@friend.Id)">Remove</button>
    </li>
}
