@model IEnumerable<SocialNetwork.Models.DTO.FriendshipDTO>

<h1>Pending Friend Requests</h1>

<ul>
    @foreach (var request in Model)
    {
        <li>
            @request.UserId
            <form asp-action="AcceptFriendRequest" method="post" style="display:inline;">
                <input type="hidden" name="friendId" value="@request.UserId" />
                <input type="submit" value="Accept" />
            </form>
        </li>
    }
</ul>
